.api{
    background-color: gold;
    width:800px;
    height: 50vh;
    align-items: flex-end;
        margin:7rem;w
}
.api button{
  margin-top: 4rem;
  margin-left: 20rem;
  width:100px;
  height: 5vh;
  background-color: blue;
  
}