.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
    background:linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    /* margin: 2rem; */
    color:white;
      
}